exclude: 'docs|node_modules|migrations|.git|.tox'
default_stages: [commit]
fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer

  - repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black

  - repo: https://github.com/rtts/djhtml
    rev: v1.4.9
    hooks:
      - id: djhtml


  - repo: https://github.com/timothycrosley/isort
    rev: 5.9.3
    hooks:
      - id: isort